.bg-blue-grey {
  background-color: rgb(47, 47, 62);
}

.bg-image {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/558/625/87/fox-trees-fantasy-art-dreamland-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-size {
  width: 10rem;
  height: 5rem;
}