.bg-blue-grey {
  background-color: rgb(181, 181, 203);
}

.bg-img {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/983/422/352/fantasy-art-sunset-digital-art-magic-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}