.bg-blue-grey {
  background-color: rgb(181, 181, 203);
}

.bg-img {
  background-image: url("https://www.gamersdecide.com/sites/default/files/authors/u141697/42.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}