.bg-blue-grey {
  background-color: rgb(47, 47, 62);
}

.bg-image {
  background-image: url("https://i.pinimg.com/564x/53/6d/c4/536dc40e4573c81d7059b4cd33e30da7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bttn {
  transition: transform 290ms ease-in-out,
    opacity 250ms linear;
}

.bttn:hover,
.bttn:focus {
  transform: scale(1.12);
}